<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
  xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
  default-lazy-init="true">

  <description>Apache CXF Web Service Client端配置</description>

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
  <!--
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	-->
  
  <bean id="clientPasswordCallback" class="org.ssh.pm.common.webservice.rs.client.ClientPasswordCallback"/>  
  <jaxws:client id="client"  
    address="http://localhost:8080/sshapp/services/UserService?wsdl"  
    serviceClass="org.ssh.pm.common.webservice.rs.server.UserWebService">  
    <jaxws:outInterceptors>  
      <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />  
      <!-- SAAJInInterceptor只在CXF是2.0.X版本时或之前版本时才是必须的 -->  
      <!-- <bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor"/> -->  
      <bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">  
        <constructor-arg>  
          <map>  
            <entry key="action" value="UsernameToken" />  
            <entry key="passwordType" value="PasswordText" />  
            <entry key="user" value="FHDServer" />  
            <entry key="passwordCallbackRef">  
              <ref bean="clientPasswordCallback" />  
            </entry>  
          </map>  
        </constructor-arg>  
      </bean>  
    </jaxws:outInterceptors>  
  </jaxws:client>    
</beans>